<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ClassroomServlet</servlet-name>
        <servlet-class>servlett.ClassroomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlett.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlett.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlett.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDatabaseServlet</servlet-name>
        <servlet-class>servlett.TestDatabaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoServlet</servlet-name>
        <servlet-class>Servlet.VideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Video2Servlet</servlet-name>
        <servlet-class>Servlet.Video2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerchServlet</servlet-name>
        <servlet-class>Servlet.SerchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectsServlet</servlet-name>
        <servlet-class>servlett.SubjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EducationServlet</servlet-name>
        <servlet-class>servlett.EducationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>servlett.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSubjectsServlet</servlet-name>
        <servlet-class>servlett.SearchSubjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Classroom2Servlet</servlet-name>
        <servlet-class>servlett.Classroom2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDOServlet</servlet-name>
        <servlet-class>servlett.VDOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>servlett.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchVideosServlet</servlet-name>
        <servlet-class>servlett.SearchVideosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubjectServlet</servlet-name>
        <servlet-class>servlett.ViewSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddvideoServlet</servlet-name>
        <servlet-class>servlett.AddvideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>servlett.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileServlet</servlet-name>
        <servlet-class>servlett.MyProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlett.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveVDOServlet</servlet-name>
        <servlet-class>servlett.RemoveVDOServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassroomServlet</servlet-name>
        <url-pattern>/Classroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDatabaseServlet</servlet-name>
        <url-pattern>/TestDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoServlet</servlet-name>
        <url-pattern>/VideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Video2Servlet</servlet-name>
        <url-pattern>/Video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerchServlet</servlet-name>
        <url-pattern>/Serch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectsServlet</servlet-name>
        <url-pattern>/Subjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EducationServlet</servlet-name>
        <url-pattern>/Education</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSubjectsServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Classroom2Servlet</servlet-name>
        <url-pattern>/Classroom2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDOServlet</servlet-name>
        <url-pattern>/VDO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchVideosServlet</servlet-name>
        <url-pattern>/SearchVideos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubjectServlet</servlet-name>
        <url-pattern>/ViewSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddvideoServlet</servlet-name>
        <url-pattern>/Addvideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileServlet</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveVDOServlet</servlet-name>
        <url-pattern>/RemoveVDO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
